 body {
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     color: blue;
     font-size: 16px;
 }

 #container {
     width: 70%;
     padding: 1em;
     text-align: left;
     border: 1px solid black;
     margin: 0 auto;
 }

 #cabecera {
     background-color: #33a;
     color: white;
     margin: 0;
     padding: 0.5em;
 }

 #cabecera #tagline {
     color: white;
     font-weight: 200;
 }

 #container h1 {
     font-size: 20px;
 }

